<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>ApplicationIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Safari.WebApp.5B915717-E26D-4212-A5A6-506F9A146657</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Element</string>
	<key>CFBundlePackageType</key>
	<string>AAPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-webkit-app-launch</string>
			</array>
			<key>LSHandlerRank</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSTemplateApplication</key>
	<true/>
	<key>LSTemplateApplicationParameters</key>
	<dict>
		<key>CFBundleIdentifier</key>
		<string>com.apple.Safari.WebApp</string>
		<key>TemplateAppUUID</key>
		<string>5B915717-E26D-4212-A5A6-506F9A146657</string>
		<key>defaultarguments</key>
		<true/>
		<key>teamIdentifier</key>
		<string>0000000000</string>
	</dict>
	<key>Manifest</key>
	<dict>
		<key>display</key>
		<string>standalone</string>
		<key>icons</key>
		<array>
			<dict>
				<key>sizes</key>
				<string>44x44</string>
				<key>src</key>
				<string>/vector-icons/44.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>sizes</key>
				<string>1240x600</string>
				<key>src</key>
				<string>/vector-icons/1240x600.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>sizes</key>
				<string>300x300</string>
				<key>src</key>
				<string>/vector-icons/300.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>sizes</key>
				<string>150x150</string>
				<key>src</key>
				<string>/vector-icons/150.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>sizes</key>
				<string>88x88</string>
				<key>src</key>
				<string>/vector-icons/88.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>sizes</key>
				<string>24x24</string>
				<key>src</key>
				<string>/vector-icons/24.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>sizes</key>
				<string>50x50</string>
				<key>src</key>
				<string>/vector-icons/50.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>sizes</key>
				<string>620x300</string>
				<key>src</key>
				<string>/vector-icons/620x300.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>sizes</key>
				<string>1024x1024</string>
				<key>src</key>
				<string>/vector-icons/1024.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>sizes</key>
				<string>180x180</string>
				<key>src</key>
				<string>/vector-icons/180.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>sizes</key>
				<string>152x152</string>
				<key>src</key>
				<string>/vector-icons/152.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>sizes</key>
				<string>120x120</string>
				<key>src</key>
				<string>/vector-icons/120.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>sizes</key>
				<string>76x76</string>
				<key>src</key>
				<string>/vector-icons/76.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
		</array>
		<key>name</key>
		<string>Element</string>
		<key>related_applications</key>
		<array>
			<dict>
				<key>id</key>
				<string>im.vector.app</string>
				<key>platform</key>
				<string>play</string>
				<key>url</key>
				<string>https://play.google.com/store/apps/details?id=im.vector.app</string>
			</dict>
			<dict>
				<key>id</key>
				<string>im.vector.app</string>
				<key>platform</key>
				<string>f-droid</string>
				<key>url</key>
				<string>https://f-droid.org/repository/browse/?fdid=im.vector.app</string>
			</dict>
			<dict>
				<key>platform</key>
				<string>itunes</string>
				<key>url</key>
				<string>https://apps.apple.com/app/vector/id1083446067</string>
			</dict>
		</array>
		<key>short_name</key>
		<string>Element</string>
		<key>start_url</key>
		<string>https://app.element.io/index.html</string>
		<key>theme_color</key>
		<string>#76CFA6</string>
	</dict>
	<key>WKManifestIconKind</key>
	<string>Manifest</string>
	<key>WKManifestURL</key>
	<string>https://app.element.io/manifest.json</string>
	<key>WKPushBundleMetadata</key>
	<dict>
		<key>manifestId</key>
		<string>https://app.element.io/index.html</string>
	</dict>
</dict>
</plist>
