# This is Git's per-user configuration file.
[user]
	name = Leaf Eriksen
	email = leaferiksen@gmail.com
[pull]
	ff = only
[merge]
	conflictStyle = zdiff3
[rerere]
	enabled = true
[core]
	editor = code -n --wait
