<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>ApplicationIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Safari.WebApp.2E9D1B9F-E849-4D3E-B902-0504686033CF</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Phanpy</string>
	<key>CFBundlePackageType</key>
	<string>AAPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-webkit-app-launch</string>
			</array>
			<key>LSHandlerRank</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSTemplateApplication</key>
	<true/>
	<key>LSTemplateApplicationParameters</key>
	<dict>
		<key>CFBundleIdentifier</key>
		<string>com.apple.Safari.WebApp</string>
		<key>TemplateAppUUID</key>
		<string>2E9D1B9F-E849-4D3E-B902-0504686033CF</string>
		<key>defaultarguments</key>
		<true/>
		<key>teamIdentifier</key>
		<string>0000000000</string>
	</dict>
	<key>Manifest</key>
	<dict>
		<key>background_color</key>
		<string>#ffffff</string>
		<key>categories</key>
		<array>
			<string>social</string>
			<string>news</string>
		</array>
		<key>description</key>
		<string>Minimalistic opinionated Mastodon web client</string>
		<key>display</key>
		<string>standalone</string>
		<key>icons</key>
		<array>
			<dict>
				<key>sizes</key>
				<string>192x192</string>
				<key>src</key>
				<string>logo-192.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>sizes</key>
				<string>512x512</string>
				<key>src</key>
				<string>logo-512.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>maskable</string>
				<key>sizes</key>
				<string>512x512</string>
				<key>src</key>
				<string>logo-maskable-512.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
		</array>
		<key>lang</key>
		<string>en</string>
		<key>name</key>
		<string>Phanpy</string>
		<key>scope</key>
		<string>./</string>
		<key>short_name</key>
		<string>Phanpy</string>
		<key>start_url</key>
		<string>https://phanpy.social/</string>
	</dict>
	<key>WKManifestIconKind</key>
	<string>Manifest</string>
	<key>WKManifestURL</key>
	<string>https://phanpy.social/manifest.webmanifest</string>
	<key>WKPushBundleMetadata</key>
	<dict>
		<key>manifestId</key>
		<string>https://phanpy.social/</string>
	</dict>
</dict>
</plist>
